<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1" />
  </system.web>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=(localdb)\mssqllocaldb;Database=StudyValyria;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <clear />
        <add value="Views/index.html" />
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>
